DATABRICKS_HOST=https://dbc-ba3c0018-f94c.cloud.databricks.com
DATABRICKS_CONFIG_PROFILE=careindia-access
PGUSER=your_databricks_user
PGDATABASE=databricks_postgres
LAKEBASE_ENDPOINT=projects/careindia-access-local/branches/production/endpoints/primary
PGHOST=your_lakebase_endpoint_host
PGPORT=5432
PGSSLMODE=require
DATABRICKS_APP_PORT=8000
DATABRICKS_APP_NAME=careindia-access
FLASK_RUN_HOST=0.0.0.0
